<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">홈</a>
<div>
    <table>
        <thead>
            <tr>
                <th><button type="button" id="complete">정산완료</button></th>
                <th><button type="button" id="restart">재시작</button></th>
            </tr>
        </thead>
    </table>
    <h1>이용 기록</h1>
    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>상품이름 </th>
                <th>구매자 </th>
                <th>구매개수</th>
            </tr>
        </thead>
        <tbody class="buyRecode">

        </tbody>
    </table>
    <h1>이용자 순위</h1>
    <table>
        <thead>
        <tr>
            <th>순위</th>
            <th>이용자 </th>
            <th>구매횟수</th>
        </tr>
        </thead>
        <tbody class="userRanking">

        </tbody>
    </table>
    <h1>베스트 상품</h1>
    <table>
        <thead>
            <tr class="bestItem">

            </tr>
        </thead>
    </table>
</div>

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="/js/admin.js"></script>
</body>
</html>