<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/">홈</a>
    <div>
        <h2>자판기</h2>
        <table>
            <thead>
                <tr>
                    <th>상품 목록</th>
                </tr>
            </thead>
            <tbody class="items">

            </tbody>
        </table>
    </div>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="/js/items.js"></script>
</body>
</html>